@import "tailwindcss/base";
@import "./base.css";

@import "tailwindcss/components";
@import "./components.css";

@import "tailwindcss/utilities";

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.6;
    color: #3097d1;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.team-image {
    background-color: #ccc;
    background-size:cover;
    width: 100%;
    padding-top:25%; 
    background-position-y: 25%;
    box-shadow: 0 1px 3px 0 #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
